

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* .kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

*{
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth !important;
}
body {
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  
}
body::-webkit-scrollbar{
  display: none;
}
.modal::-webkit-scrollbar{
  display: none;
}

.ii{
  border: 1px dotted brown  !important;
}
/* hide scrollbar for chrome, safari and opera */


.contact-modal[open] {
  animation: slidein 0.8s ease-in-out forwards;
}

.contact-modal.closing {
  animation: slideout 0.8s ease-in-out forwards;
}

.contact-modal::backdrop {
  background: rgba(0, 0, 0, 0.8);
}


@keyframes slidein {
  from {
    right: -10%;
  }
  to {
    right: 0%
  }
}

@keyframes slideout {
  from {
    right: 0%;
  }
  to {
    right: -60%
  }
}

.progress-bar{
  appearance: none;
  border-radius: 8px; 
  /* overflow: hidden;  */

}

.progress-bar::-webkit-progress-bar{
  background-color: #DDDDDD;
  height: 4px;
  border-radius: 8px;
}
.progress-bar::-moz-progress-bar {
  background-color: #DDDDDD;
  height: 4px;
  border-radius: 8px;
}
.progress-bar::-webkit-progress-value{
  background-color: #000;
  border-radius: 8px;

}
.dark .progress-bar::-webkit-progress-bar{
  background-color: #1A1A1A;
}
.dark .progress-bar::-webkit-progress-value {
  background-color: #ffffff; /* Dark mode indicator color */
}